.form {
    margin: 0 200px;
    padding: 50px 0;
}

.form > * {
    display: block;
    margin: auto;
}

label {
    font-size: 22px;
    padding-bottom: 10px;
    color: #160b01;
}

input {
    width: 98%;
    height: 34px;
    padding: 5px 10px;
    border: none;
    background-color: #e5e1da;
    font-size: 16px;
}

.add-btn {
    border: none;
    cursor: pointer;
    background-color: #e3a66d;
    color: #ffff;
    margin-top: 22px;
    padding: 10px 30px;
    font-size: 16px;
}

@media screen and (max-width: 900px) {
    .form {
        margin: 0 50px;
    }

    input {
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    input {
        width: 90%;
        height: 40px;
    }
}