.todo-item {
    background-color: #e5e1da;
    padding: 0;
    margin: 10px 200px;
    color: #160b01;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.cancel {
    border: none;
    padding: 15px 20px;
    background-color: #e5e1da;
    color: #160b01;
    cursor: pointer;
}

.cancel:hover {
    background-color: #e3a66d;
}

.todo-text {
    margin: 10px;
}

.checked, .checked .cancel{
    background-color: #aca393;
    color: #fff;
}

.checked .todo-text {
    text-decoration: line-through;
}

@media screen and (max-width: 900px) {
    .todo-item {
        margin: 10px 55px;
    }
}